*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.nav{
    width: 100%;
    background-color: rgb(255, 105, 0);
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px grey;
}

.nav-bar{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories{
    width: 33.3%;
}

.categories-list{
    list-style: none;
}

.categories-list li{
    display: inline-block;
    font-size: 1rem;
    color: white;
    margin: 0 5px;
}

.logo{
    width: 33.3%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 100%;
}

.icons{
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons i{
    width: 40px;
    height: 40px;
    color: white;
}
